<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="net.groster.moex.forts.drunkypenguin.core"/>

    <bean id="currentConfigurationXmlTimestamp" class="java.lang.Long">
        <constructor-arg type="long" value="1382349687000"/>
    </bean>

    <bean id="currentTemplateXmlTimestamp" class="java.lang.Long">
        <constructor-arg type="long" value="1381999139000"/>
    </bean>

    <bean id="fastConfURL" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="http://ftp.moex.com/pub/FAST/Spectra/templates/MOEX/"/>
    </bean>

</beans>